*{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.container{
    width: 80%;
}


/*NAVBAR*/
.navbar{
    background-color: white;
    padding-top: 30px;
}

.nav-link{
    color: black;
    text-transform: uppercase;
    font-size: 16px;
}


#logo{
    font-family: 'Staatliches', cursive;
}


/*SECTION MAIN*/
#section-main{
    margin-top: 100px;
}

.main-title{
    font-weight: 300;
}

#hr{
    width: 80%;
    margin: 50px auto 20px auto;
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/*Section Contact*/
#section-contact{
    margin-top: 50px;
}

.col-right-contact{
    text-align: right;
}

.col-left-contact{
    text-align: right;
    margin-top: 20px;
}

form{
    margin-top: 20px;
}

.input{
    border-left: none;
    border-top: none;
    border-right: none;
    text-align: right;
}

.input-space{
    margin-right: 10px;
}

.input-textarea{
    margin-top: 20px;
    margin-bottom: 50px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.space-left{
    padding-left: 10px;
}

.button-form{
    background-color: white;
    padding: 10px 20px;
}

/*Copyright*/
.social-link-p{
    margin-top: 20px;
}

.social-link{
    color: black;
    text-decoration: none;
    margin-right: 10px;
}



/*PAGE 2 PORTFOLIO*/
#working-progress{
    margin-top: 20vh;
}

#working-progress h1{
    font-size: 60px;
    padding-bottom: 50px;
}



/*PAGE 3 ABOUT*/
.main-about-title{
   margin-top: 20vh;
   font-weight: 300;
}

#section-about-pres{
    margin-top: 150px;
}

.col-pres{
   text-align: left;
}

.row-pres-2{
    margin-top: 50px;
}

.title-skills{
    margin-top: 20px;
}

.progress-bar{
    background-color: black
    ;
}


/*SERVICES*/
.row-space-services{
    margin-top: 70px;
}


/*MEDIA QUERIES*/
@media only screen and (max-width: 600px) {
    iframe{
        width: 300px;
        height: 400px;
        margin: 0 auto;
        display: block;
    }

    #form{
        margin-bottom: 20px;
    }

    .input-space{
        margin: 0;
    }

    /*Portfolio*/
    #working-progress{
        margin-top: 50px;
    }

    #working-progress h1{
        font-size: 40px;
    }

    /*Contact*/
    .input-textarea{
        width: 100%;
    }
}