*{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.container{
    width: 80%;
}

/*NAVBAR*/
.navbar{
    background-color: white;
    padding-top: 30px;
}

.nav-link{
    color: black;
    text-transform: uppercase;
    font-size: 16px;
}

#logo{
    font-family: 'Staatliches', cursive;
}


/*SECTION MAIN*/
#section-main{
    margin-top: 100px;
}

.main-title{
    font-weight: 300;
}

#hr{
    width: 80%;
    margin: 50px auto;
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/*Section Contact*/
#section-contact{
    margin-top: 50px;
}

.col-right-contact{
    text-align: right;
}

.col-left-contact{
    text-align: right;
    margin-top: 20px;
}

form{
    margin-top: 20px;
}

.input{
    border-left: none;
    border-top: none;
    border-right: none;
    text-align: right;
}

.input-space{
    margin-right: 10px;
}

#input-textarea{
    margin-top: 20px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.space-left{
    padding-left: 10px;
}

#button-form{
    margin-top: 10px;
    background-color: white;
    padding: 10px 20px;
}

/*Copyright*/
.social-link{
    color: black;
    text-decoration: none;
}